<div id="email-sent-view" class="auth-view">
  <h2 class="auth-title">Check your email</h2>
  <p class="email-sent-info text-secondary">
    We sent a password recovery link to
    <strong id="recovery-email-display">your.email@example.com</strong>.
  </p>
  <button
    id="btn-back-to-signin"
    class="auth-button submit-button text-primary"
  >
    Back to sign in
  </button>
  <div class="text-link-group text-secondary">
    Did not receive the email?
    <a
      href="#"
      id="resend-email-link"
      class="link bottom-message-link text-secondary"
    >Resend</a>
  </div>
</div>