<div id="forgot-password-view" class="auth-view">
  <h2 class="auth-title">Forgot password</h2>
  <form id="forgot-password-form">
    <div class="form-group">
      <label for="forgot-email">Email</label>
      <input
        type="email"
        id="forgot-email"
        placeholder="Enter your email address"
        required
      />
    </div>
    <button
      type="submit"
      id="btn-send-recovery"
      class="auth-button submit-button text-primary"
    >
      Send recovery link
    </button>
  </form>
  <div class="text-link-group text-teritary">
    Remembered password?
    <a
      href="#"
      id="forgot-signin-link"
      class="link bottom-message-link text-secondary"
    >Sign in</a>
  </div>
</div>