<div id="login-view" class="auth-view active"> <!-- Initial active state handled by JS, but good for static fallback -->
  <h2 class="auth-title">Sign in</h2>
  <form id="login-form">
    <div class="form-group">
      <label for="login-email">Email</label>
      <input type="email" id="login-email" placeholder="Enter your email address" required />
    </div>
    <div class="form-group">
      <div class="label-group">
        <label for="login-password">Password</label>
        <a href="#" id="login-forgot-password-link" class="link">Forgot password?</a>
      </div>
      <div class="password-wrapper">
        <input type="password" id="login-password" placeholder="Enter your password" required />
        <span class="toggle-password" data-for="login-password">
            {{> login/_eye-icon }}
        </span>
      </div>
    </div>
    <button type="submit" id="btn-login" class="auth-button submit-button text-primary ">
      Sign in
    </button>
  </form>
  <div class="separator text-teritary">or</div>
  {{> login/_social-buttons-login }}
  <div class="text-link-group text-teritary">
    Do not have an account?
    <a href="#" id="login-signup-link" class="link bottom-message-link text-secondary">Sign up</a>
  </div>
</div>