<div id="signup-view" class="auth-view">
  <h2 class="auth-title">Sign up</h2>
  <form id="signup-form">
    <div class="form-group">
      <label for="signup-name">Name</label>
      <input
        type="text"
        id="signup-name"
        placeholder="Enter your name"
        required
      />
    </div>
    <div class="form-group">
      <label for="signup-email">Email</label>
      <input
        type="email"
        id="signup-email"
        placeholder="Enter your email address"
        required
      />
    </div>
    <div class="form-group">
      <label for="signup-password">Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          id="signup-password"
          placeholder="Enter your password"
          required
        />
        <span class="toggle-password" data-for="signup-password">
          {{> login/_eye-icon }}
        </span>
      </div>
    </div>
    <button type="submit" id="btn-signup" class="auth-button submit-button text-primary ">
      Sign up
    </button>
  </form>
  <div class="text-link-group text-teritary">
    Already have an account?
    <a href="#" id="signup-login-link" class="link bottom-message-link text-secondary">Sign in</a>
  </div>   

</div>