:root {
  /* Grey */
  --grey-50: #ffffff;
  --grey-100: #ccd0d9;
  --grey-200: #a2a6af;
  --grey-300: #747880;
  --grey-400: #50555f;
  --grey-500: #2c323e;
  --grey-600: #252a33;
  --grey-700: #1d2129;
  --grey-800: #16191e;
  --grey-900: #0e1014;

  /* Blue */
  --blue-600: #4271c9;
  --blue-700: #345aa0;
  --blue-800: #274377;

  /* Red */
  --red-50: #fee7e5;
  --red-500: #f85c53;
  --red-800: #7a2d29;
  --red-900: #4f1d1b;

  /* Green */
  --green-500: #4bb570;
}

.text-primary {
  font-size: 14px;
  color: var(--grey-50);
  font-weight: 500;
  line-height: 150%;
}

.text-secondary {
  font-size: 14px;
  color: var(--grey-100);
  font-weight: 500;
  line-height: 150%;
}

.text-teritary {
  font-size: 14px;
  color: var(--grey-200);
  font-weight: 500;
  line-height: 150%;
}

body,
html {
  height: 100%;
  font-family: "Satoshi", sans-serif;
  color: var(--grey-100);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-900);
  position: relative;
}

.dots-background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--grey-600) 0.8px, transparent 0.8px);
  background-size: 15px 15px;

  -webkit-mask-image: radial-gradient(circle, black 30%, transparent 70%);
  mask-image: radial-gradient(circle, black 30%, transparent 70%);

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.turing-logo-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

input {
  height: auto !important;
  width: 100% !important;
  padding: 8px !important;
  background-color: var(--grey-800) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 4px !important;
  color: var(--grey-50) !important;
  font-size: 14px !important;
  outline: none !important;
  transition: none !important;
}

input:hover {
  background-color: var(--grey-700) !important;
  color: var(--grey-100) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}

input:focus,
input:focus-visible {
  background-color: var(--grey-700) !important;
  border: none !important;
  outline: none !important;
  box-shadow: 0px 0px 0px 2px rgba(103, 156, 255, 0.4) !important;
}

input:disabled {
  border: none !important;
}
input::placeholder {
  color: var(--grey-200) !important;
}

.toggle-password {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 8px !important;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--grey-300);
  font-size: 18px;
  user-select: none;
}

.toggle-password svg {
  width: 16px;
  height: 16px;
}
