@import "./common.css";

/* Reset */
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Satoshi", sans-serif !important;
}

/* Auth Container */
.content {
  position: relative !important;
  padding: 32px !important;
  z-index: 2 !important;
  background-color: var(--grey-800) !important;
  border-radius: 12px !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  max-width: 450px !important;
  width: 100% !important;
  transition: all 0.3s ease-in-out !important;
}

.auth0-lock-name {
  font-size: 28px !important;
  font-weight: 600 !important;
  color: var(--grey-50) !important;
  text-align: left !important;
  margin-bottom: 16px !important;
}

.auth0-lock-header {
  height: auto !important;
}

.auth0-lock-badge-bottom,
.auth0-lock-header-logo,
.auth0-lock-header-bg {
  display: none !important;
}

/* Inputs */
.auth0-lock,
.auth0-lock-widget {
  width: 100% !important;
}

.auth0-lock-input-wrap {
  border: none !important;
  background-color: transparent !important;
}

.auth0-lock-input-wrap:first-child {
  margin-bottom: 8px !important;
}

.auth0-lock-cred-pane,
.auth0-lock-header {
  background-color: #16191e !important;
}

.auth0-lock-icon-box {
  display: none !important;
}

/* Submit button */
.auth0-lock-submit svg {
  display: none;
}

.auth0-lock-submit {
  margin-top: 24px !important;
  padding: 0px 12px !important;
  background-color: var(--blue-600) !important;
  color: var(--grey-50) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  height: 36px !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: background-color 0.2s !important;
}

.auth0-lock-submit::after {
  content: "Create";
}

.auth0-lock-submit:hover {
  background-color: var(--blue-700) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.auth0-lock-submit:active {
  background-color: var(--blue-800) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.auth0-lock-submit:focus,
.auth0-lock-submit:focus-visible {
  background-color: var(--blue-600) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  outline: none !important;
  box-shadow: 0px 0px 0px 2px rgba(103, 156, 255, 0.4) !important;
}

.auth0-lock-submit:disabled {
  background-color: var(--blue-800) !important;
  color: var(--grey-200) !important;
  cursor: not-allowed !important;
}

/* Message Area */
.auth0-global-message {
  padding: 10px !important;
  margin-bottom: 15px !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  text-align: left !important;
  white-space: pre-line !important;
  transition: none !important;
  height: auto !important;
}

.auth0-global-message .animated.fadeInUp {
  transform: none !important;
  animation-name: none !important;
}

.auth0-global-message-error {
  background-color: var(--red-900) !important;
  color: var(--red-50) !important;
  border: 1px solid var(--red-800) !important;
}

/* // #TODO adjust to designs */
.auth0-global-message-success {
  background-color: rgba(75, 160, 75, 0.2) !important;
  color: var(--green-500) !important;
  border: 1px solid var(--green-500) !important;
}

.auth0-lock-input-password {
  position: relative !important;
}

/* Confimation */
.auth0-lock-confirmation {
  background-color: var(--grey-800) !important;
  font-size: 14px !important;
  color: var(--grey-50) !important;
  font-weight: 500 !important;
  line-height: 150% !important;
}

.auth0-lock-confirmation-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  row-gap: 24px !important;
}

.auth0-lock-confirmation-content svg {
  width: 32px !important;
  height: 32px !important;
}

.auth0-lock-password-strength {
  padding: 8px !important;
}

.auth0-loading-container svg {
  top: -5px !important;
  left: 45% !important;
  width: 24px !important;
  height: 24px !important;
}
