@import "tailwindcss";

@import "./assets/css/fonts.css";

@theme {
  /* Project Colors */
  /* Grey */
  --color-grey-50: #ffffff;
  --color-grey-100: #ccd0d9;
  --color-grey-200: #a2a6af;
  --color-grey-300: #747880;
  --color-grey-400: #50555f;
  --color-grey-500: #2c323e;
  --color-grey-600: #252a33;
  --color-grey-700: #1d2129;
  --color-grey-800: #16191e;
  --color-grey-900: #0e1014;
  --color-grey-1000: #070809;

  /* Blue */
  --color-blue-50: #e5edfd;
  --color-blue-100: #c7d9fb;
  --color-blue-200: #a9c5f9;
  --color-blue-300: #8bb0f6;
  --color-blue-400: #6d9cf4;
  --color-blue-500: #4f88f2;
  --color-blue-600: #4271c9;
  --color-blue-700: #345aa0;
  --color-blue-800: #274377;
  --color-blue-900: #192c4d;
  --color-blue-1000: #0c1424;
  --color-blue: #4271c9;

  /* Primary */
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-1000: var(--color-blue-1000);
  --color-primary: var(--color-blue);

  /* Green */
  --color-green-50: #e4f4ea;
  --color-green-100: #c5e7d1;
  --color-green-200: #a7dbb9;
  --color-green-300: #88cea1;
  --color-green-400: #6ac288;
  --color-green-500: #4bb570;
  --color-green-600: #3e965d;
  --color-green-700: #31774a;
  --color-green-800: #255937;
  --color-green-900: #183a24;
  --color-green-1000: #0b1b11;

  /* Orange */
  --color-orange-50: #feefe7;
  --color-orange-100: #fdddcb;
  --color-orange-200: #fccbb0;
  --color-orange-300: #fbb894;
  --color-orange-400: #faa779;
  --color-orange-500: #f9955d;
  --color-orange-600: #cf7c4d;
  --color-orange-700: #a4623d;
  --color-orange-800: #7a492e;
  --color-orange-900: #50301e;
  --color-orange-1000: #25160e;

  /* Red */
  --color-red-50: #fee7e5;
  --color-red-100: #fdcbc8;
  --color-red-200: #fcafab;
  --color-red-300: #fa938d;
  --color-red-400: #f97870;
  --color-red-500: #f85c53;
  --color-red-600: #ce4c45;
  --color-red-700: #a43d37;
  --color-red-800: #7a2d29;
  --color-red-900: #4f1d1b;
  --color-red-1000: #250e0c;

  /* Base colors */
  --color-white: #ffffff;
  --color-dark: #000000;

  /* Semantic colors */
  --color-content-primary: var(--color-grey-50);
  --color-content-secondary: var(--color-grey-100);
  --color-content-tertiary: var(--color-grey-200);
  --color-content-quaternary: var(--color-grey-300);

  --color-background-primary: var(--color-grey-900);
  --color-background-secondary: var(--color-grey-800);
  --color-background-tertiary: var(--color-grey-700);
  --color-background-quaternary: var(--color-grey-600);

  --color-navigation: var(--color-grey-800);
  --color-navigation-hover: var(--color-grey-700);
  --color-navigation-active: var(--color-grey-600);

  --color-action-primary: var(--color-blue-600);
  --color-action-primary-hover: var(--color-blue-700);
  --color-action-primary-active: var(--color-blue-800);
  --color-action-primary-disabled: var(--color-blue-800);

  --color-action-secondary: var(--color-grey-600);
  --color-action-secondary-hover: var(--color-grey-500);
  --color-action-secondary-active: var(--color-grey-400);
  --color-action-secondary-disabled: var(--color-grey-400);

  --color-action-desctructive: var(--color-red-600);
  --color-action-desctructive-alt: var(--color-red-500);
  --color-action-desctructive-hover: var(--color-red-700);
  --color-action-desctructive-active: var(--color-red-800);
  --color-action-desctructive-disabled: var(--color-red-800);

  /* Font family */
  --font-sans: Satoshi, ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply font-sans antialiased;
}
